:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px;
}

body {
    text-align: center;
    background-color: #193549;
    color: white;
    font-weight: 100;
    font-size: 50px;
}

.controls img {
    display: block;
    margin: 50px auto 0 auto;
    padding: var(--spacing);
    width: 500px;
    background: var(--base);
    filter: blur(var(--blur));
}

.h1 {
    color: var(--base);
}